/* Main page specific styles */
body, h1, p, table {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f4f8;  /* Light grey-blue background */
    color: #102a43;  /* Dark blue for text */
    font-size: 16px;
    line-height: 1.6;
    padding-top: 100px; /* Adjusted to account for navbar */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /* overflow: hidden; */
}

header {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.carousel {
    width: 30%;
    scale: 0.8;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    overflow: hidden;
}

.slide {
    width: 50%;
    height: 400px;  /* Set a fixed height for the slide */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slide img {
    width: auto;
    height: 30%;  /* Adjust height to maintain aspect ratio */
    max-height: 30%;  /* Ensure the image doesn't overflow the container */
    object-fit: contain;  /* Ensure the image fits well within the container */
}

.slide p {
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background for text */
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;  /* Larger text for better readability */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top: 10px;  /* Space between image and text */
}
